body {

  font-family: "Comic Sans MS", sans-serif;

  background-color: #212531;
  /* background-image: url(/static/partnersimages/bg.png); */

  background-position: 0% 60%;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow: scroll;
}

p {
  color: white;
  /* font-size: 30px; */
  text-align: left;
}

h3 {
  font-size: 20px;
  color: yellow;
}

h3:hover {
  color: #f44444e6;
}


header {
  margin: 0px;
}


/* <!--  styling the navigation N */

a {
  
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* SECTION */
.home {
  padding: 2rem 8%;
  
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
  display: inline-block;
}

.logo i {
  padding-right: 2rem;
  
  color: black;
}

.order {
  text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px yellow;
}


.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background: white; */
  background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033, #d74177);
  animation: 12s myGradient infinite;
  border-radius: 40px;
  box-shadow: 3px 3px 20px #ff3352;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: rgb(255, 255, 255);
  height: 45px;
  padding: 1rem;
  font-size: 23px;
  
}
.menu li{
  transition: all 0.4s linear;
  transform: scale(1);
}

.menu li:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

/*Container for menu button  */

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

/*  Creating the menu button */

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 6px;
  width: 32px;
  border-radius: 3px;
  color: white;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

/*  Adding Functionality to the Hamburger Menu with CSS  */

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
  transform: rotate(-45deg);
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

/* Styling the main image */

.home .image {
  flex: 1 1 30rem;
}

.home .image img {
  margin-left: 50px;
  width: 90%;
  height: 90%;
  padding: 1rem;
  animation: float 3s linear infinite;
  box-shadow: 3px 2px 40px #ff3352;
}

/* animating the main image   */

@keyframes float {

  0%,
  100% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: white;
}

/* Styling the content */

.yellowColor {
  color: yellow;
}

.mainfont {
  font-family: "Jacques Francois Shadow", cursive;
}

.home .content p {
  font-size: 1.7rem;
  color: white;
  padding: 1rem 0;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
}

/* Styling the buttons  */

.btn {
  display: inline-block;
  padding: 0.9rem 3rem;
  border: 0.2rem solid rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin: 2rem 2rem 0 0;
}

/* .footer{
  width: 100%;
  padding-top: 60px;
} */

.btn:hover {
  color: #fff;
}

.btn-track:hover {
  color: rgb(253, 80, 80);
  border-color: rgb(29, 217, 217);
}

a:hover {
  color: white;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    overflow-y: scroll;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem
  }

  .menu li:hover {
    transform: scale(1);
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #9f9a9a;
    height: 2.5em;
    padding: 0.5em;
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #e8e8e8;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
  }
}

.partner-section {
  padding: 10px;
}

span h2 {
  margin-top: 0%;
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.partner-section ul {
  list-style: none;
  padding: 8px;
  margin-top: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-section li {
  width: 300px;
  text-align: center;
  margin: 20px;
}

.partner-section li:hover {
  color: yellow;
}

.partner-section img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: rgba(224, 65, 97, 0.4) 0px 30px 90px;
}

.partner-section img:hover {
  transform: scale(1.5);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

form {
  /* background-image: url(/resources/delivery.png); */
  /* background-color: black; */
  height: auto;
  width: 45%;
  text-align: center;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  color: black;
  margin-left: auto;
  margin-right: auto
}

.input-box input {
  padding-bottom: 8px;
  margin-bottom: 12px;
  margin-top: 8px;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-radius: 8px;
}

#btn-submit {
  font-size: large;
  font-weight: 900;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

#btn-submit:hover {
  color: rgb(221, 25, 25);
  transform: scale(1.3);
  transition: 0.4s ease-in-out;
}

* {
  font-family: "Comic Sans MS";
}
